.page {
  background: none!important;
}

.page-404 {
  color: #f8f8f8;
  background: #4a4a4a;
  height: 100%;
  width: 100%;
}

.page-404 .icon {
  font-size: 150px;
}

.text-404 {
  font-size: 40px;
}

.page-404__button {
  color: #f8f8f8!important;
  margin-top: 10px;
}

.page-404__button:hover {
  color: #e4e4e4!important;
  border-color: #e4e4e4!important;
}
