extends ../layout/layout.pug

block content
  #root
    != prerenderHtml
block dynamicCss
  link(rel="stylesheet" href=helpers.assetUrl('index.css'))
block dynamicJsIe
  script(src=helpers.assetUrl('index.js'))
block dynamicJs
  script(src=helpers.assetUrl('index.js'))

